@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Inter:wght@100;200&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

header {
    background-color: burlywood;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em;
}

.header_logo img {
    height: 30px;
    margin-left: 25px;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

li {
    list-style-type: none;
    margin-left: 1.5em;
}

a {
    text-decoration: none;
    color: black;
}

a:hover,
a:focus {
    color: #636363;
}