.navbar {
    background-color: transparent;
}

.navbar img {
    max-height: 30px;
}

.hero {
    background-image: url(./assets/home/background1.png);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}